# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/stagecraft?schema=public"

# NextAuth
AUTH_SECRET="generate-a-secret-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"

# GitHub OAuth
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

# Netlify OAuth
NETLIFY_CLIENT_ID=""
NETLIFY_CLIENT_SECRET=""
