---
import type { HeadingLevel } from "../_shared/types";

interface Props {
  title?: string;
  headingLevel?: HeadingLevel;
  isTitleHidden?: boolean;
}

const { title, headingLevel = "h2", isTitleHidden = false } = Astro.props;
const Heading = headingLevel;
---

<section class="section">
  {title && (
    <Heading class:list={[isTitleHidden && "screenreader-only"]}>
      {title}
    </Heading>
  )}
  <slot />
</section>
