---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import { getEntry, render } from "astro:content";

const about = await getEntry("pages", "about");
if (!about) throw new Error("Missing about page content");
const { Content } = await render(about);
---

<BaseLayout title="About">
  <PageHeader headline={about.data.headline} />
  <section class="section">
    <div class="container">
      <Content />
    </div>
  </section>
</BaseLayout>
