---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import PhotoGallery from "../components/PhotoGallery.astro";
import { getEntry, getCollection } from "astro:content";

const photosPage = await getEntry("pages", "photos");
if (!photosPage) throw new Error("Missing photos page content");

const photoEntries = await getCollection("photos");
const photos = photoEntries.map((e) => e.data);
---

<BaseLayout title="Photos">
  <PageHeader headline={photosPage.data.headline} />
  <section class="section">
    <div class="container">
      <PhotoGallery photos={photos} />
    </div>
  </section>
</BaseLayout>
